.energy-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.energy-bar > h5 {
    margin-right: 8px;
    font-weight: 200;
    opacity: .5;
    user-select: none;
    cursor: default;
}

.energy-bar > div {
    border: 2px solid #252525;
    outline: 1px solid aliceblue;
    width: 100px;
    height: 18px;
    border-top-left-radius: 5000px;
    border-bottom-left-radius: 5000px;
    border-bottom-right-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.energy-bar > div > div {
    background-color: aliceblue;
    height: 100%;
    transition: width 1s ease;
    display: flex;
}

.energy-bar > svg {
    fill: aliceblue;
    font-size: 26px;
    position: absolute;
    right: -15px;
    filter: drop-shadow(-4px 1px 0 #252525);
}