.my-pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-direction: column;
}

.my-pokedex > h2 {
    margin-bottom: 15px;
    user-select: none;
}

.my-pokedex > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-pokedex > div > svg {
    font-size: 30px;
    cursor: pointer;
}