.your-button {
  /* COLORS */
  --color-secondary: #baaa87;
  --color-secondary-t: #baaa8760;
  --color-primary: #407777;
  --color-primary-t: #40777760;
  --color-text: #ffffff;

  color: var(--color-text);
  letter-spacing: 2px;
  font-weight: bold;
  backdrop-filter: blur(7px);
  cursor: default;
  transition: all 0.3s ease;
  overflow: hidden;
  border: none;
    margin: 25px;
  border-radius: 25px;
  font-size: 16px;
  padding: 19.2px;
  min-width: 150px;
  background: linear-gradient(
    220.55deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  filter: grayscale(1);
  user-select: none;
}

.your-button.active {
  cursor: pointer;
  filter: grayscale(0);
}

.your-button.active:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.your-button.active:before {
  position: absolute;
  content: "";
  display: inline-block;
  pointer-events: none;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 4s ease-in-out infinite;
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
