
.poke-show-box {
    padding: 6px;
    background-color: aliceblue;
    border-radius: 20px;
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 25px -10px #0000005d;
    cursor: pointer;
}

.poke-show-box * {
    user-select: none;
}

.poke-show-box > .first-div {
    background-color: #4e33338a;
    width: 100%;
    border-radius: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 14px 0 0 0;
    position: relative;
    overflow: hidden;
    min-height: 186px;
}

.poke-show-box > .first-div > h3 {
    z-index: 2;
    text-align: center;
}

.poke-show-box > .first-div > .primary-image {
    user-select: none;
    width: 120px;
    margin: 15px 0;
    animation: respiration 2s ease infinite;
    z-index: 2;
}

.poke-show-box > .first-div > .secondary-image {
    position: absolute;
    z-index: 1;
    top: 45px;
    transform: scale(6);
    filter: blur(10px);
    opacity: .9;
}

@keyframes respiration {
    0% {transform: scale(1.1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1.1);}
}

.poke-show-box > .second-div {
    background-color: #000000bd;
    margin-top: 6px;
    width: 100%;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 6px 0 ;
    position: relative;
    overflow: hidden;
}

.poke-show-box > .second-div > div {
    margin: 2px 0;
    margin-left: 10px;
    font-size: 13px;
}

.poke-show-box > .second-div > div > b {
    color: #d8d87b;
}